<div class="app">  
  
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="app.home">FS2.0</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        
        <ul class="nav navbar-nav pull-right">
          <li ng-if="!$ctrl.AuthService.isLoggedIn()"><a ui-sref="login">Login</a></li>
        </ul>

      </div>

    </div>
  </nav>
  
  <div class="container">
  
    <div class="well">
      <div ng-repeat="item in $ctrl.cartItems track by $index">

        {{item.product.name}}: {{item.amount}} x {{item.product.price}} = {{item.amount*item.product.price}}

        &nbsp;
        <a href="" ng-click="$ctrl.CartService.inc(item.product.id)" style="color: green"><i class="fa fa-plus"></i></a>

        &nbsp;

        <a href="" ng-click="$ctrl.CartService.dec(item.product.id)" style="color: orange"><i class="fa fa-minus"></i></a>


        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        
        <a href="" ng-click="$ctrl.removeFromCart(item.product.id)" style="color: red"><i class="fa fa-remove"></i></a>
      </div>

        <br>

        <br>

      Total price:{{$ctrl.CartService.total}}
    </div>

    <categories-nav></categories-nav>
  </div>

  <div ui-view></div>

</div>  